@model Notebook

@{
    ViewData["Title"] = Model.Name;
}

<h2>@Model.Name</h2>
<p>@Model.Description</p>
<ul class="list-inline">
    <li>
        <b>Created</b>
        @Model.CreatedAt
    </li>
    <li>
        <b>Latest Update</b>
        @Model.UpdatedAt
    </li>
</ul>
<a asp-controller="Notes" asp-action="Create" asp-route-notebookId="@Model.Id">Add Note</a>
<h3>Notes (@Model.Notes.Count())</h3>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
