@model TagViewModel

@{
    ViewData["Title"] = $"{Model.Name} Tag";
}

<h2>@Model.Name</h2>

<div>
    @if (Model.Notes.Count() > 0)
    {
        <h3>Notes</h3>
        <table class="table table-striped">
            @foreach (var note in Model.Notes)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Notes" asp-route-id="@note.Id">@note.Name</a>
                    </td>
                </tr>
            }
        </table>
    }
    @if (Model.Notebooks.Count() > 0)
    {
        <h3>Notebooks</h3>
        <table class="table table-striped">
            @foreach (var notebook in Model.Notebooks)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Notes" asp-route-id="@notebook.Id">@notebook.Name</a>
                    </td>
                </tr>
            }
        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
