@model Note

@{
    ViewData["Title"] = "Details";
}

<h2>
    @Model.Name
    <small>
        <a asp-action="Details" asp-controller="Notebooks" asp-route-id="@Model.NotebookId">@Model.Notebook.Name</a>
    </small>
</h2>
<ul class="list-inline">
    <li>
        <b>Created</b>
        @Model.CreatedAt
    </li>
    <li>
        <b>Latest Update</b>
        @Model.UpdatedAt
    </li>
    <li>
        <a asp-action="Edit" asp-controller="Notes" asp-route-notebookId="@Model.NotebookId" asp-route-id="@Model.Id">Edit</a>
    </li>
    <li>
        <a asp-action="Delete" asp-controller="Notes" asp-route-notebookId="@Model.NotebookId" asp-route-id="@Model.Id">Delete</a>
    </li>
</ul>
<div class="note-body">
    @Html.Raw(Model.Body)
</div>
